.Q1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    direction: rtl;
    max-width: 500px;
    text-align: justify;
}

.ButtonsContainer {
    display: flex;
}
.ButtonsContainer > *:not(:last-child) {
    margin-right: 10px;
}