.App-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  width: calc(100vw - 50px);
  height: 100vh;
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

